{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block scripts %}
{{ super() }}
{{ colorpicker.loader() }}
{{ colorpicker.picker(ids=['#red', '#green', '#blue']) }}
{% endblock %}
{% block content %}
<form action = "" method = "post"
	class = "form" enctype = "multipart/form-data" role = "form" >

{{ form.hidden_tag() }}
	<table align=center><tr><td>{{ form.recaptcha.label(form.recaptcha) }}</td></tr></table>
	<br>
	<table align=center>
		<tr>
			<td width=100px>{{ form.upload.label(form.upload) }}</td>
			<td width=100px>{{ form.red.label(form.red) }}</td>
			<td width=100px>{{ form.green.label(form.green) }}</td>
			<td width=100px>{{ form.blue.label(form.blue) }}</td>
		</tr>
		
	</table>
<br>

<font size="3">
<table align="center" border="1">
<tr width=800px><td width=300px>
{% if old_img %}
	<br><p align="center"><img src={{old_img}}/>
	<p align="center">Original image {{old_img}}</p>
{% else %}
	<br><p align="center"> There is no image yet </p><br>
{% endif %}
</td><td width=300px>
{% if image_name %}
	<br><p align="center"><img src={{image_name}}/>
	<p align="center">New image {{image_name}}</p>
{% else %}
	<br><p align="center"> There is no image yet </p><br>
{% endif %}</td></tr>
<tr width=700px><td width=300px>
{% if vertgr %}
	<br><p align="center"><img src={{vertgr}}/>
	<p align="center">Color average vert {{vertgr}}</p>
{% else %}
	<br><p align="center"> There is no image yet </p><br>
{% endif %}
</td><td width=300px>
{% if horizgr %}
	<br><p align="center"><img src={{horizgr}}/>
	<p align="center">Color average horiz {{horizgr}}</p>
{% else %}
	<br><p align="center"> There is no image yet </p><br>
{% endif %}
</td>
</table>
<table align="center">
<tr width=700px><td>
{% if gr_name %}
	<br><p><img src={{gr_name}}/>
	<p align="center" font-size="200%">Color map {{gr_name}}</p><br>
{% else %}
	<br><p align="center"> There is no image yet </p><br>
{% endif %}
</td>
</tr>
</table>
<br>
<p align="center">{{form.submit}}</p></form>
</font>
{% endblock %}
